.container--services .header--services {
  padding-bottom: 3rem;
}


/* FIRST COLUMN */
.container--services table tr td:first-child {
  text-align: center;
}

/* SECOND COLUMN */
.container--services table tr td:nth-child(2) {
  padding-left: 1rem;
}

/* THIRD COLUMN */
.container--services table tr td:nth-child(3) {
  padding-left: 1rem;
}

/* FOURTH COLUMN */
.container--services table tr td:nth-child(4) {
  padding-left: 1rem;
}

/* LAST COLUMN */
.container--services table tr td:nth-last-child(1) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}