<%- include('./partials/_header.ejs') %>
<%- include('./partials/_navbar.ejs') %>

<a href="/booking" class="container">
  <img alt="Scheduling 🗓"  data-id="16143805" data-optimize-for-bots="true" data-animated-url="https://cdn.dribbble.com/users/77121/screenshots/16143805/media/5812720048139da1144fbf62b86142b4.gif" skip_resize="true" srcset="https://cdn.dribbble.com/users/77121/screenshots/16143805/media/5812720048139da1144fbf62b86142b4.gif 300w, https://cdn.dribbble.com/users/77121/screenshots/16143805/media/5812720048139da1144fbf62b86142b4.gif 400w, https://cdn.dribbble.com/users/77121/screenshots/16143805/media/5812720048139da1144fbf62b86142b4.gif 600w, https://cdn.dribbble.com/users/77121/screenshots/16143805/media/5812720048139da1144fbf62b86142b4.gif 800w, https://cdn.dribbble.com/users/77121/screenshots/16143805/media/5812720048139da1144fbf62b86142b4.gif 1000w, https://cdn.dribbble.com/users/77121/screenshots/16143805/media/5812720048139da1144fbf62b86142b4.gif 1200w, https://cdn.dribbble.com/users/77121/screenshots/16143805/media/5812720048139da1144fbf62b86142b4.gif 1600w" src="https://cdn.dribbble.com/users/77121/screenshots/16143805/media/5812720048139da1144fbf62b86142b4.gif" sizes="(max-width: 919px) 100vw, (min-width: 920px) and (max-width: 1200px) 74vw, 1172px" rel="preload" as="image">
</a>

<%- include('./partials/_footer.ejs') %>