	<footer>
		<div class="footer--social">
			<div class="footer--icon footer--facebook">
				<div class="tooltip">Facebook</div>
				<a href="https://www.facebook.com" target="_blank">
					<span><i class="fab fa-facebook-f"></i></span>
				</a>
			</div>

			<div class="footer--icon footer--twitter">
				<div class="tooltip">Twitter</div>
				<a href="https://www.twitter.com" target="_blank">
					<span><i class="fab fa-twitter"></i></span>
				</a>
			</div>

			<div class="footer--icon footer--instagram">
				<div class="tooltip">Instagram</div>
				<a href="https://www.instagram.com" target="_blank">
					<span><i class="fab fa-instagram"></i></span>
				</a>
			</div>

			<div class="footer--icon footer--github">
				<div class="tooltip">Github</div>
				<a href="https://www.github.com" target="_blank">
					<span><i class="fab fa-github"></i></span>
				</a>
			</div>

			<div class="footer--icon footer--youtube">
				<div class="tooltip">Youtube</div>
				<a href="https://www.youtube.com" target="_blank">
					<span><i class="fab fa-youtube"></i></span>
				</a>
			</div>
		</div>
	</footer>

	<script src="scripts/main.js"></script>
</body>
</html>