<link rel="stylesheet" href="styles/user/invoices.css">

<div class="container--invoices">

    <div class="header--invoices">
      <h1>Minhas faturas</h1>
    </div>

  <table>
    <tr>
      <th>id</th>
      <th>Total</th>
      <th>Método de Pagamento</th>
    </tr>
    <tr>
      <td>96547</td>
      <td>20€</td>
      <td>SDD</td>
    </tr>
  </table>
</div>