<link rel="stylesheet" href="styles/user/sdd.css">

<div class="container--sdd">

    <div class="header--sdd">
      <h1>Débito direto</h1>
    </div>

  <table>
    <tr>
      <th>id</th>
      <th>IBAN</th>
      <th>Nome do banco</th>
      <th>Titular da conta</th>
    </tr>
    <tr>
      <td>2</td>
      <td>PT50 0045 0003 1234 5678 3698 1</td>
      <td>Santander Totta</td>
      <td>Rui Miguel Cabral Simões</td>
    </tr>
  </table>
</div>